*{
  margin: 0px;
  padding: 0px;
  background-color:#F5F5F5;
}
body{
  padding: 5px;
}
.header{
  background: #FFCC99;
}
.header li {
  list-style-type: none;
}
.header p,h1{
  background: #FFCC99;
}
.header a{
  float: right;
  width: 100%;
  text-align: right;
  background: #66FF33;
  color: white;
  line-height: 2;
  font-size: 16px;
  padding: 0 10px;
}
.header img{
  width: 15%;
  float: left;
  margin: 20px 5px;
}
.header .logan{
  display: inline-block;
  margin: 20px;
  padding: 0.2em;
  font-size: 30px;
  text-align: left;
  background: #FFCC99;
}
.form-inline{
  float: right;
  width: 20%;
  padding-top: 7em;
  background: #FFCC99;
  margin-right: em;
}
#manage{
  text-align: center;
  background: #66FF33;
  line-height: 2;
  font-weight: bold,;
  color:black;
  font-size: 50px;
  margin:0;
  text-shadow: 2px 6px 3px white;
}
.footer{
  text-align: center;
  background: #66FF33;;
}
.menu {
 width: 99%;
  margin: 10px auto;
  font:Time news roman, serif,san serif, arial;
}
.menu li{
  list-style-type: none;
  display: inline-block;
  width: 200px;
  background: blue;
  line-height: 2;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  font:  Helvetica, arial, serif, sans serif;
  border-radius: 10px;
  box-shadow: 3px 5px 2px;
  border:2px solid white; 
}
.control .chon{
  display: none;
  position: absolute;
  top:40;
  padding:0px;
  width:auto; 
  font:arial,serif,san serif, ;

}

.chon li{
  width:auto;
  padding:5px;
  margin-top:5px;
  display: block;
  font: Times New Roman;
}
.control li:hover .chon{
  display: block;
}
.menu li a{
  text-decoration: none;
  color: white;
  display: block;
}
.content{
  width: 90%;
  margin: 10px auto;
  height: 1000px;
}
.aleft a{
  color: white;
  padding: 0.5em;
}
.aright table{
  width: 30%;
  table-layout: auto;
  margin: 2em auto;
  font-size: 20px;
}
.aright form table td{
  padding-bottom: 5px;
}
.aright form table input,select{
  width:200px;
  height: 30px;
  font-size: 18px;
}
.aright form table input[type="submit"]{
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  width: 100px;
  box-shadow: 2px 2px 2px;
}
.aright form table input[type="submit"]:hover{
  background: blue;
  color: white;
}
.aright form table textarea{
  width:200px;
}
.footer{
  clear: both;
}
