*{
  margin: 0px;
  padding: 0px;
}

.header{
  text-align: center;
}
.footer{
  text-align: center;
}
.menu {
 width: 90%;
  margin: 10px auto;
}
.menu li{
  list-style-type: none;
  display: inline-block;
  width: 100px;
  background: blue;
  line-height: 2;
  text-align: center;
  font:  Helvetica, arial, serif, sans serif;
  border-radius: 10px;
  box-shadow: 2px 2px 2px; 
}
.menu li a{
  text-decoration: none;
  color: white;
  display: block;
}
.content{
  width: 90%;
  margin: 10px auto;
}
.aleft{
  width: 44%;
  float: left;
 
}
.aleft table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  caption-side: top;
}
.row-title-product{
  background: red;
}
.aleft table td,th{
   border: 1px solid black;
   padding: 5px;
}

.aright table{
  width: 50%;
  table-layout: auto;
  margin: 0px auto;
  font-size: 20px
}
.aright form table td{
  padding-bottom: 5px;
}
.aright form table input,select{
  width:200px;
  height: 30px;
  font-size: 18px;
}
.aright form table input[type="submit"]{
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  width: 100px;
  box-shadow: 2px 2px 2px;
}
.aright form table input[type="submit"]:hover{
  background: blue;
  color: white;
}
