body{ 
  background: #ece1df;
}
.wrap{
  background: #ece1df;
}
.footer{
  background: #ece1df;
}
.header{
  background: #EEAD0E;
}
.menu p {
  margin: 0px;
  padding-top: 5px;
  color: white;
  
}
.leftintro{
  width: 18%;
  margin-left: %;
  background: #FFCC99;  
  display: inline-block;
  float: left;
}
.leftintro ul{
  width: 100%;
  height: 20.5em;
  display: block;
  padding: 0;
  
}
.leftintro li{
  list-style-type: none;
  background:#66FF33;
  line-height: 1.5;
  margin: 0;
  
}
.leftintro a{
  display: block;
  text-align: center;
  color: blue;
}
.rightintro{
  width: 82%;
  display: inline-block;
}
.login{
  float: right;
  margin-right: 50px;
  padding: 0;
  margin: 0px;
  display: block;
  background: #00BB00;
  width: 100%;
  text-align: right;
}
.header #logo{
  width: 15%;
  height: auto;
  background-size: cover;
  margin-left: 2%;
  display: inline-block;

}
.header .logan{
  display: inline-block;
  width: 40%;
  font-size:24px;
  margin: 50px 0 auto 10px;
  position: absolute;
}
.header .logan h1{
  font-size: 60px;
  margin: 0px;
}
.logan p{
  margin: 0px;
}
.header form{
  display: inline-block;
  position: absolute;
  margin: 5.5em 2em 0 50em;
   
}
.header #search{
  width: 200px;
  height: 30px
}
.header button{
  /*! line-height: */
}
.header input[type="submit"]{
  padding: 1px 10px; 
  line-height: 2;
  box-shadow: 1px 1px 1px;
  
}

.header .login a{
  display: block;
  color: white;
  text-decoration: none;
}
.header .login li{
  line-height: 1;
  position: relative;
  margin: 0 px;
  display: inline-block;
  width: 150px;
  line-height: 2;
  text-align: center;
  border-right: 2px solid whitesmoke;
  
  
}
.header .login #giohang{
  height: 35px;
  width: 25px;
  margin-right: 10px;
  padding: 0px 10px 0 0;
}
.header .login img{
 height: 20px;
 width: 20px;
}
#logo{
  margin: 10px
}
.header .login .choosemanager{
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: blueviolet;
        padding:0px;
        width:150px; 
}
.header .login li:hover>.choosemanager{
        display: block;
        background-color: blue;
    }
 
.header .login>li>.choosemanager{
        top: 30px;
        left: 0;
    }
.header .login .choosemanager a{
  display: block;
  text-decoration: none
}
.header .login .choosemanager li{
  width:100%;
  padding: 0px;
  margin-top: 0px;
  display: inline-block;
  list-style-type: none;
}
.header li:hover{
  background: #00FF66;
}
.menu .control a{
  text-decoration: none;
  color: white;
  display: block;
}
.menu .control{
  float: left;
  width: 100%;
  background: blue;
  margin:0;
  position: sticky;
  z-index: 1;
}
.menu .control a{
  display: block;
  text-decoration: none;
  
}

.menu .control li{
   list-style-type: none;
   line-height: 2;
   position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
}
.menu .control .choosemanager{
        display: none;
        position: absolute;
        top: 40;
        left: 0;
        background-color: #eee;
        padding:0px;
        width:150px; 
}
.menu .control li:hover{
  background: black;
  border-radius: 10px;
  width: 150px;
}
.menu .control li:hover>.choosemanager{
        display: block; 
        background: blue;
    }
 .menu .controln>li>.choosemanager{
        top: 40px;
        left: 0;
    }
.menu .control .choosemanager a{
  display: block;
  text-decoration: none
}
.menu .control .choosemanager li{
  width:100%;
  padding: 0px;
  margin-top: 5px;
  display: inline-block;
  list-style-type: none;
  border-bottom: 2px solid white;
}
.page{
  clear: both;
}
.register table input{
  width:300px;
  font-size: 18px;
}
.register table input[type="submit"]{
  text-align: center;
  width:100px;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 2px 6px 2px grey;
  border-radius: 5px; 
}
.register table{
  width: 50%;
  text-align: left;
  margin: 10px auto;
}
.register .error{
  color: red;
}
.sanphamall {
  width: 17%; 
  float: left;  
  margin: 6px 1%;
  text-align: center;
  background: #87CEEB;
  border-radius: 7px;
  box-shadow: 2px 6px 2px grey;
}
.sanphamall img
{
  width: 90%;
  height: 250px;
  margin-top: 20px
}
.sanphamall p,a{
  margin:5px 0 0 0 ;
  padding: 0px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold
}
.sanphamall #addtocart{
  background: #66FF33;
  display: block;
  padding: 10px 0;
  margin: 0;
  border-radius: 0 0 7px 7px;
  text-decoration: none;
}
.sanphamall #addtocart:hover{
  background: #87CEEB;
}
.chitietsanpham{
  text-align: center;
  margin-top: 4em; 
}
.chitietsanpham table{
  width: 30%;
  margin: 10px auto;
  text-align: left;
  
}.page{
  text-align: center;
}
.page a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  margin: 0px 0 0 5px;
  padding:0px;
  border: 1px solid #000000;
  color: white;
  background-color: blue;
  width: 40px;
  height: 25px;
}
.page .currentNumber{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  margin: 0px;
  padding:0px;
  border: 1px solid #000000;
  color: white;
  background-color: cyan;
  width: 40px;
  height: 25px;
}
.giohang table{
  table-layout: fixed;
  width: 80%;
  margin: 10px auto;
  text-align: left;
}
.giohang img{
  width: 100px;
  height: auto;
  
}
#cpass{
  width: 70%;
  margin:auto;
}
#cpass type=['submit']{
  margin-top: 1em;
}
.updateuser {
  width: 50%;
  margin: 10px auto;
}
.form-control, .updateuser label{
    margin-top: 1em;
}
.updateuser table{
  margin: auto;
}
#myBtn,.updateuser table input[type="submit"]{
  margin:1.5em 1.5em;
  font-size: 20px;
  box-shadow: 2px 5px 2px gray;
  border: 1px solid white;
}
.updateuser table span{
  color: red;
}
.footer .popular{
  clear: both;
}
.footer .popular #po{
  background: blue;
  padding: 0.5em 1em;
  width:30%;
  color: white ;
}

.footer .info{
  clear: both;
  padding:20px;
  background: #EEAD0E;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}